.inputBlock {
  border: none;
  position: absolute;
  bottom: 0vh;
  left: 27%;

  .inputBox {
    width: 70%;
    font-size: large;
    padding: 2%;
    background-color: #c9c9c9;
    border: none;
  }

  .inputBox:focus {
    border-style: inset;
    outline: rgb(110, 124, 136);
    background-color: rgba(155, 155, 155, 0.692);
  }
}
